/*
div {
    border: 1px
    border-color: #080204;
    border-style: solid;
}
*/

html,body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #8B0B58;
    background-image: url("Headerkuva.jpg");
    background-position: center;
    background-size: cover;
    color: #FEFBF8;
    font-family: Poppins, sans-serif;
    width: 100%;
    margin: none;
    padding: none;
}

header h1 {
    font-size: 60px;
    text-align: center;
    color:#FEFBF8;
    text-shadow: 3.5px 3.5px #080204
}

header p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #FEFBF8;
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B0B58;
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #FEFBF8;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 20px;
  }
  
  li a:hover {
    background-color:#0F1D44;
  }


  section {
    background-color: #0F1D44;
    color: #FEFBF8;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.bullets {
    background-color: #0F1D44;
    color: #FEFBF8;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.row {
    background-color: #0F1D44;
    color: #FEFBF8;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.column {
    float: left;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .solid{
    border-style: ridge;
    border-color: #FEFBF8;
    padding: 10px;
    margin: 10px;
  }

section h2 {
    color: #FEFBF8;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 10px;
}

footer {
    background-color:#8B0B58;
    color: #FEFBF8;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    text-align: center;
    margin: auto;
    padding: 10px;
}

body {
    background-color: #0F1D44;
}

@media only screen and (min-width: 650px) {
    section {
        width: 75%;
    }
    header {
        padding: 10px;
    }
}

@media only screen and (min-width: 1025px) {
    section {
        width: 55%;
    }
    header {
        font-size: 70px;
    }
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%;
    }
  }
