/*
div {
    border: 1px
    border-color: #080204;
    border-style: solid;
}
*/

html,body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #7B2542;
    background-image: url("Headerkuva.jpg");
    background-position: center;
    background-size: cover;
    color: #FEFBF8;
    font-size: 36px;
    font-family: Poppins, sans-serif;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.header h1 {
    font-size: 60px;
    text-align: center;
    color:#FEFBF8
    margin: 0px;
}

.header p {
    font-size: 20px;
    text-align: center;
    color: #FEFBF8;
    margin: 0px;
}

.content {
    background-color: #EED2CC;
    color: #080204;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.bullets {
    background-color: #EED2CC;
    color: #080204;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.row {
    background-color: #EED2CC;
    color: #080204;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.column {
    float: left;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.content h2 {
    color: #080204;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.footer {
    background-color: #7B2542;
    color: #FEFBF8;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 10px;
}

body {
    background-color: #080204;
}

@media only screen and (min-width: 650px) {
    .content {
        width: 75%;
    }
    .header {
        padding: 10px;
    }
}

@media only screen and (min-width: 1025px) {
    .content {
        width: 55%;
    }
    .header {
        font-size: 70px;
    }
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
